#lojaAberta {
  color: green;
  font-weight: bold;
}

#lojaAberta::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #3f4;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid green;
}

#lojaFechada {
  color: red;
  font-weight: bold;
}

#lojaFechada::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #c0392b;
}